.errorWrapper {
  width: 380px;
  height: 160px;

  background-color: #F6F6F6;

  border-radius: 5px;

  margin-top: 120px;

  font-size: 30px;
  color: #BD8080;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  animation-name: error;
  animation-duration: 1s;

  z-index: 2;
}

.errorImg {
  width: 100px;
}

@keyframes error {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
